<form class="form-signin">
  <label for="inputEmail" class="sr-only">账号</label>
  <input type="email" id="inputEmail" class="form-control" [(ngModel)]="input.email" name="email" placeholder="账号" required autofocus>
  <label for="inputPassword" class="sr-only">密码</label>
  <input type="password" id="inputPassword" [(ngModel)]="input.password" class="form-control" name="password" placeholder="密码" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> 记住我
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="tapSignIn()">登录</button>
</form>
