<div class="wx-message-box">
    <div class="tab">
        <ul class="tab-header">
            <li class="tab-item">
                    收到消息回复
            </li>
            <li class="tab-item">
                    被关注回复
            </li>
            <li class="tab-item">
                    关键词回复
            </li>
        </ul>
        <div class="tab-body">
            <div class="tab-item">
                <app-wx-editor></app-wx-editor>
            </div>
            <div class="tab-item">
                
            </div>
            <div class="tab-item">
            
            </div>
        </div>
    </div>
</div>
