.wx-editor {
    .search-box {
        .form-control {
            display: inline-block;
        }
        select {
            width: 20%;
        }
        input {
            width: 60%;
        }
    }
}