<div class="wx-editor">
    <nb-tabset>
        <nb-tab tabTitle="文本">
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
        </nb-tab>
        <nb-tab tabTitle="素材">
            <div class="form-group search-box">
              <select class="form-control" name="" id="">
                  <option value="">请选择</option>
              </select>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <button class="btn btn-primary">搜索</button>
            </div>

        </nb-tab>
    </nb-tabset>
</div>
