.list-group-item {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    &.active {
        background: #282828;
        border-color: #282828;
    }
}

.badge-default {
    background-color: #f95372;
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    position: absolute;
    right: 20px;
}

.card {
    &.active {
        .collapse {
            display: block;
        }
    }
    .time {
        position: absolute;
        right: 70px;
    }
    .card-header {
        background: #282828;
    }
}