<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item justify-content-between" *ngFor="let item of categories" [ngClass]="{active: item.id == current}" (click)="onChange(item)">
                {{ item.name }}
                <span class="badge badge-default badge-pill" *ngIf="item.count > 0">{{ item.count }}</span>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <div id="accordion" role="tablist">
            <div class="card" *ngFor="let item of data" [ngClass]="{active: item.active}">
                <div class="card-header" (click)="item.active = !item.active" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        {{ item.title }}
                        <span class="time">{{ (item.create_at | timeFormat) }}</span>
                    </h5>
                </div>

                <div class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                        {{ item.content }}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>