<h1>个人资料</h1>
<form class="form-table" method="POST"
  accept-charset="UTF-8" data-type="ajax" role="form"><input type="hidden" name="_token">
  <div class="input-group">
    <label for="name">昵称</label>
    <div class="">
      <input type="text" id="name" class="form-control " name="name" value="zodream" placeholder="请输入 昵称" required="">
    </div>
  </div>
  <div class="input-group">
    <label for="email">邮箱</label>
    <div class="">
      <input type="email" id="email" class="form-control " name="email" value="648383079@qq.com" placeholder="请输入 邮箱"
        required="">
    </div>
  </div>
  <div class="input-group">
    <label for="sex">性别</label>
    <div class="">
      <span class="radio-label">
        <input type="radio" id="sex0" name="sex" value="0">
        <label for="sex0">未知</label>
      </span><span class="radio-label">
        <input type="radio" id="sex1" name="sex" value="1" checked="">
        <label for="sex1">男</label>
      </span><span class="radio-label">
        <input type="radio" id="sex2" name="sex" value="2">
        <label for="sex2">女</label>
      </span>
    </div>
  </div>
  <div class="input-group">
    <label for="avatar">头像</label>
    <div class="file-input">
      <input type="text" id="avatar" class="form-control " name="avatar" value="/assets/images/avatar/18.png"
        placeholder="请输入 头像">
      <button type="button" data-type="upload">上传</button>
      <button type="button" data-type="preview">预览</button>
    </div>
  </div> <button type="submit" class="btn btn-success">确认保存</button>
  <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
</form>
