.tab {
    .tab-head {
        >div {
            width: 49.5%;
            font-size: 30px;
        }
    }
    .tab-content {
        height: 400px;
        overflow-y: auto;
    }
}

.list-view {
    ul {
        margin: 0;
        padding: 0;
        li {
            height: 55px;
            position: relative;
            list-style: none;
            &:hover {
                background: rgba(100, 100, 100, 0.2);
            }
            &.active {
                background: rgba(100, 100, 100, 0.4);
            }
            .avatar {
                width: 40px;
                position: absolute;
                top: 8px;
                left: 8px;
                z-index: 20;
                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }
            .info {
                margin-left: 55px;
                .time {
                    float: right;
                }
                .count {
                    float: right;
                    background: #f00;
                    color: #fff;
                    border-radius: 50%;
                    padding: 2px;
                }
                .name {
                    font-size: 20px;
                }
            }
        }
    }
}

.title {
    background: #282828;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
}

.message-box {
    height: 350px;
    overflow-y: auto;
    .left {
        position: relative;
        margin: 8px 0;
        .avatar {
            position: absolute;
            top: 0;
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
        .content {
            max-width: 66%;
            float: left;
            margin-left: 52px;
            background: rgba(255,255,255,0.16);
            min-height: 40px;
            padding: 0 10px;
            line-height: 40px;
            &::before {
                content: '';
                position: absolute;
                top: 15px;
                left: 40px;
                z-index: 10;
                border: 6px solid transparent;
                border-right-color: rgba(255,255,255,0.26);
            }
        }
    }
    .right {
        position: relative;
        margin: 8px 0;
        .avatar {
            right: 0;
            position: absolute;
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
        .content {
            max-width: 66%;
            float: right;
            margin-right: 52px;
            background: rgba(255,255,255,0.16);
            line-height: 40px;
            padding: 0 10px;
            &::before {
                content: '';
                position: absolute;
                top: 15px;
                right: 40px;
                z-index: 10;
                border: 6px solid transparent;
                border-left-color: rgba(255,255,255,0.16);
            }
        }
    }
    .line {
        margin: 8px 0;
        p {
            text-align: center;
        }
    }
}

.clean-both {
    clear: both;
}

.send-box {
    padding-right: 100px;
    position: relative;
    textarea {
        width: 100%;
        height: 40px;
        resize: none;
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 40px;
        background: #282828;
        color: #fff;
        border: none;
    }
}