<div class="search-container">
  <input type="text">
  <i class="fa fa-times"></i>
</div>
<div class="search">
  <form class="form-inline" role="form">
      <div class="form-group">
          <label for="keywords">标题</label>
          <input type="text" class="form-control" name="keywords" id="keywords" placeholder="标题" >
      </div>
      <div class="form-group">
          <label>分类</label>
          <select name="cat_id"  class="form-control">
              <option value="">请选择</option>
          </select>
      </div>
      <div class="form-group">
          <label>品牌</label>
          <select name="brand_id"  class="form-control">
              <option value="">请选择</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary">搜索</button>
      <a class="btn btn-success float-right" href="">新增商品</a>
      <a class="btn btn-dark float-right" href="">回收站</a>
  </form>

</div>

<table class="table table-hover">
  <thead>
  <tr>
      <th>ID</th>
      <th>商品名</th>
      <th class="auto-hide">分类</th>
      <th class="auto-hide">品牌</th>
      <th>价格</th>
      <th class="auto-hide">推荐</th>
      <th>销量</th>
      <th>操作</th>
  </tr>
  </thead>
  <tbody>
      <tr>
          <td>1</td>
          <td>
              <div class="goods-info">
                  <div class="thumb">
                      <img src="" alt="" width="60" height="60">
                  </div>
                  <a href="" target="_blank">
                  ff</a>
              </div>
          </td>
          <td class="auto-hide">
              [未分类]
          </td>
          <td class="auto-hide">
              [无]
          </td>
          <td>
              777
          </td>
          <td class="auto-hide">=
          </td>
          <td>
              66
          </td>
          <td>
              <div class="btn-group  btn-group-xs">
                  <a class="btn btn-default btn-xs" href="">编辑</a>
                  <a class="btn btn-danger" data-type="del" href="">删除</a>
              </div>
          </td>
      </tr>
  </tbody>
</table>