<header class="top">
    <ng-container *ngIf="search_mode; else resultTemplate">
        <div class="search-box">
            <form>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" name="keywords" [(ngModel)]="keywords" (keyup)="onKeyUp($event)" placeholder="搜索" autocomplete="off">
                <i class="fa fa-times-circle" *ngIf="keywords && keywords.length > 0" (click)="tapClearSearch()"></i>
            </form>
            <a class="cancel-btn" (click)="tapBack()">取消</a>
        </div>
    </ng-container>
    <ng-template #resultTemplate>
        <div class="search-box under-search">
            <a class="home-btn" routerLink="/mobile">
                <i class="fa fa-home"></i>
            </a>
            <form>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" name="keywords" [ngModel]="keywords" placeholder="搜索" readonly (click)="tapGoSearch()">
                <i class="fa fa-times-circle" (click)="tapClearSearch()"></i>
            </form>
        </div>
    </ng-template>
</header>
<ng-container *ngIf="search_mode; else resultListTemplate">
    <div class="has-header">
        <ng-container *ngIf="!tip_list || tip_list.length == 0; else elseTemplate">
            <div class="search-recommend-box" >
                <div class="panel" *ngIf="history_list && history_list.length > 0">
                    <div class="panel-header">
                        <span>历史记录</span>
                        <i class="fa fa-trash" (click)="tapClearHistory()"></i>
                    </div>
                    <div class="panel-body">
                            <ng-container *ngFor="let item of history_list">
                            <a (click)="tapKeyword(item)">{{ item }}</a>
                        </ng-container>
                    </div>
                </div>
                <div class="panel" *ngIf="hot_keywords && hot_keywords.length > 0">
                    <div class="panel-header">
                        <span>热门搜索</span>
                    </div>
                    <div class="panel-body">
                        <ng-container *ngFor="let item of hot_keywords">
                            <a (click)="tapKeyword(item)">{{ item }}</a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <ul class="search-tip-box">
                <li *ngFor="let item of tip_list">
                        <a (click)="tapKeyword(item)">{{ item }}</a>
                </li>
            </ul>
        </ng-template>
    </div>
</ng-container>
<ng-template #resultListTemplate>
    <div class="has-header scoll-box" 
    zoInfiniteScroll
    (scrollEnd)="onScrollEnd()"
    [offset]="30"
    [debounce]="50"
    [disabled]="has_more">
        <div class="goods-list">
            <div class="item-view" *ngFor="let item of data">
                <div class="item-img">
                    <a [routerLink]="['../poroduct', item.id]"><img [src]="item.thumb" alt=""></a>
                </div>
                <div class="item-title">
                    {{ item.name }}
                </div>
                <div class="item-actions">
                    <span class="item-price">{{ item.price | currency: '￥' }}</span>
                    <span>加入购物车</span>
                </div>
            </div>
        </div>
    
    </div>
</ng-template>

