<header class="top">
  <div class="search-box">
      <form>
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" name="keywords" [(ngModel)]="keywords" (keyup)="onKeyUp($event)" placeholder="搜索">
          <i class="fa fa-times-circle"></i>
      </form>
      <a class="cancel-btn" href="javascript:history.back();">取消</a>
  </div>
</header>
<div class="has-header">
    <ng-container *ngIf="!tip_list || tip_list.length == 0; else elseTemplate">
        <div class="search-recommend-box" >
            <div class="panel" *ngIf="history_list && history_list.length > 0">
                <div class="panel-header">
                    <span>历史记录</span>
                    <i class="fa fa-trash" (click)="tapClearHistory()"></i>
                </div>
                <div class="panel-body">
                        <ng-container *ngFor="let item of history_list">
                        <a (click)="tapKeyword(item)">{{ item }}</a>
                    </ng-container>
                </div>
            </div>
            <div class="panel" *ngIf="hot_keywords && hot_keywords.length > 0">
                <div class="panel-header">
                    <span>热门搜索</span>
                </div>
                <div class="panel-body">
                    <ng-container *ngFor="let item of hot_keywords">
                        <a (click)="tapKeyword(item)">{{ item }}</a>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <ul class="search-tip-box">
            <li *ngFor="let item of tip_list">
                    <a (click)="tapKeyword(item)">{{ item }}</a>
            </li>
        </ul>
    </ng-template>
    


</div>