.search-box {
    input {
        line-height: 36px;
        height: 32px;
    }
}

.has-header {
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    .goods-list {
        margin-top: 0;
    }
}