footer,
header {
    background: #000;
    color: #fff; 
    a {
        color: #fff;
        text-decoration: none;
    }
}
header {
    height: 50px;
    line-height: 50px;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    padding: 32px 20px;
    position: relative;
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

.app-wrapper {
    margin-top: 50px;
    .search-container {
        display: none;
    }
    &.search-mode {
        transform-origin: 50vw 50vh;
        transform: perspective(1000px) translate3d(0,50vh,0) rotate3d(1,0,0,30deg);
        pointer-events: none;
        max-width: 1920px;
        margin: 0 auto;
        overflow: auto;
        height: 100vh;
        display: block;
        .search-container {
            display: block;
            pointer-events: auto;
        }
    }
}

.sidebar-container {
    width: 208px;
    vertical-align: baseline;
    padding: 20px 12px 60px 36px;
    top: auto;
    position: absolute;
    overflow-y: visible;
    display: inline-block;
    .sidebar-container-toggle {
        display: none;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: inherit;
        text-rendering: auto;
        &::before {
            content: "\f0c9";
        }
    }
}

.main-container {
    width: calc(100% - 208px);
    position: relative;
    vertical-align: baseline;
    background-color: #f4f4f4;
    flex-grow: unset;
    display: inline-block;
    top: 0;
    padding: 8px;
    min-height: 300px;
    margin-left: 208px;
}

@media (max-width: 1200px){
    .container {
        width: 100%;
    }

}

@media (max-width: 767px){
    .app-wrapper {
        min-height: calc(100vh - 50px);
    }
    .sidebar-container {
        left: -208px;
        transition: left .3s;
        z-index: 189;
        bottom: 0;
        .sidebar-container-toggle {
            display: block;
            position: fixed;
            left: 10px;
            bottom: 10px;
            font-size: 24px;
            background: #333;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
            transition: all .3s;
            padding: 4px 6px;
            color: #fff;
            z-index: 199;
        }
        &.expand {
            left: 0;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
            .sidebar-container-toggle {
                box-shadow: none;
                left: 5px;
                &::before {
                    content: "\f00d";
                }
            }
        }
    }
    .main-container {
        margin-left: 0;
        width: 100%;
    }
}