footer,
header {
    background: #000;
    color: #fff; 
    a {
        color: #fff;
        text-decoration: none;
    }
}
header {
    height: 50px;
    line-height: 50px;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    .brand {
        display: inline-block;
    }
    .header-right {
        float: right;
    }
    .header-nav {
        display: inline-block;
        li {
            padding: 0 5px;
            list-style: none;
            display: inline-block;
        }
    }
}

footer {
    padding: 32px 20px;
    position: relative;
}

.profile-box {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    .info {
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        span {
            display: none;
        }
    }
    .down-menu {
        position: absolute;
        margin-left: -70px;
        width: 120px;
        background-color: #333;
        color: #fff;
        ::ng-deep {
            a {
                color: #fff;
                text-decoration: none;
                .fa {
                    margin-right: 5px;
                }
            }
            ul {
                margin: 0;
                padding: 0;
                text-align: center;
                li {
                    list-style: none;
                }
            }
        }
        
    }
}



.app-container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

.app-wrapper {
    margin-top: 50px;
    .scrollable-container {
        display: flex;
        flex: 1;
        flex-direction: row;
    }
    &.search-mode {
        .scrollable-container {
            transform-origin: 50vw 50vh;
            transform: perspective(1000px) translate3d(0,50vh,0) rotate3d(1,0,0,30deg);
            pointer-events: none;
            max-width: 1920px;
            margin: 0 auto;
            overflow: hidden;
            height: 50vh;
        }
        .search-container {
            display: block;
            pointer-events: auto;
            position: fixed;
            top: 10vh;
            width: 100%;
        }
    }
}

.search-box {
    border-bottom: 1px solid #fff;
    position: relative;
    input {
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
        color: #fff;
        height: 30px;
        padding: 0 20px;
    }
    .fa {
        position: absolute;
        right: 0;
        top: 8px;
        color: #fff;
        &.fa-search {
            left: 0;
            right: auto;
        }
    }
}

.search-container {
    height: 200px;
    padding-top: 50px;
    display: none;
    .search-box {
        width: 400px;
        margin: 0 auto;
        font-size: 30px;
        input {
            height: 50px;
            font-size: 20px;
            padding: 0 40px;
        }
        .fa {
            top: 13px;
        }
    }
}

.sidebar-container {
    order: 0;
    width: 208px;
    padding: 20px 12px 60px 36px;
    top: auto;
    overflow-y: visible;
    display: block;
    .sidebar-container-toggle {
        display: none;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: inherit;
        text-rendering: auto;
        &::before {
            content: "\f0c9";
        }
    }
    
}

.main-container {
    flex: 1;
    flex-direction: column;
    min-width: 0;
    vertical-align: baseline;
    background-color: #f4f4f4;
    top: 0;
    padding: 8px;
    min-height: 300px;
}

:host-context(.full-theme) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 1200px){
    .container {
        width: 100%;
    }
}

@media (max-width: 767px){
    .app-wrapper {
        min-height: calc(100vh - 50px);
        width: 100vw;
        overflow-x: hidden;
        margin: 50px 0 0;
        padding: 0;
        .scrollable-container {
            display: block;
            position: relative;
        }
    }
    .sidebar-container {
        left: -208px;
        transition: left .3s;
        z-index: 189;
        bottom: 0;
        overflow-y: auto;
        position: fixed;
        top: 50px;
        .sidebar-container-toggle {
            display: block;
            position: fixed;
            left: 10px;
            bottom: 10px;
            font-size: 24px;
            background: #333;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
            transition: all .3s;
            padding: 4px 6px;
            color: #fff;
            z-index: 199;
        }
        &.expand {
            left: 0;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
            .sidebar-container-toggle {
                box-shadow: none;
                left: 5px;
                &::before {
                    content: "\f00d";
                }
            }
        }
    }
    .main-container {
        margin-left: 0;
        width: 100%;
    }

    :host-context(.full-theme) {
        .main-container {
            transition: all .3s;
        }
        .sidebar-container {
            &.expand {
                box-shadow: none;
                &+.main-container {
                    transform: translateX(208px);
                }
            }
        }
    }
    .search-container {
        height: 60vh;
        padding-top: 15vh;
        .search-box {
            width: 100%;
        }
    }
}

@media (max-width: 1160px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}