<h1>更改密码</h1>
<form class="form-table" method="POST">
  <div class="input-group">
    <label for="old_password">原密码</label>
    <div>
      <input type="password" id="old_password" class="form-control " name="old_password" placeholder="输入原密码"
        required="">

    </div>
  </div>
  <div class="input-group">
    <label for="password">新密码</label>
    <div class="">
      <input type="password" id="password" class="form-control " name="password" placeholder="输入新密码" required="">

    </div>
  </div>
  <div class="input-group">
    <label for="confirm_password">确认密码</label>
    <div class="">
      <input type="password" id="confirm_password" class="form-control " name="confirm_password" placeholder="确认密码"
        required="">

    </div>
  </div>
  <button type="submit" class="btn btn-success">确认更改</button>
  <a class="btn btn-danger" href="javascript:history.go(-1);">取消修改</a>
</form>
